@model CalculateRowViewModel 
<tr>
    <td>
        <input type="text" readonly class="form-control-plaintext" name="StaticValueOne" value="@Model.StaticValueOne" />
    </td>
    <td>
        <input type="text" readonly class="form-control-plaintext" name="StaticValueTwo" value="@Model.StaticValueTwo" />
    </td>
    <td>
        <input type="text" readonly class="form-control" name="ValueOne" value="@Model.ValueOne"
               hx-get="/calculator/edit?name=ValueOne&Value=@Model.ValueOne"
               hx-trigger="click once"
               hx-target="closest td" />
    </td>
    <td>
        <input type="text" readonly class="form-control" name="ValueTwo" value="@Model.ValueTwo"
               hx-get="/calculator/edit?name=ValueTwo&Value=@Model.ValueTwo"
               hx-trigger="click once"
               hx-target="closest td" />
    </td>
    <td>
        <input type="text" readonly class="form-control" name="ValueThree" value="@Model.ValueThree"
               hx-get="/calculator/edit?name=ValueThree&Value=@Model.ValueThree"
               hx-trigger="click once"
               hx-target="closest td" />
    </td>
    <td>
        <input type="text" readonly class="form-control-plaintext" name="StaticValueOne" value="@Model.Total" />
    </td>
</tr>