@model CalculateRowViewModel 
<tr>
    <td>
        <input type="text" readonly class="form-control-plaintext" asp-for="StaticValueOne" />
    </td>
    <td>
        <input type="text" readonly class="form-control-plaintext" asp-for="StaticValueTwo" />
    </td>
    <td>
        <input readonly
               class="form-control"
               asp-for="ValueOne"
               hx-get
               hx-controller="Calculator"
               hx-action="EditField"
               hx-route-name="@nameof(Model.ValueOne)"
               hx-route-value="@Model.ValueOne"
               hx-trigger="click once"
               hx-target="closest td" />
    </td>
    <td>
        <input readonly
               class="form-control"
               asp-for="ValueTwo"
               hx-get
               hx-controller="Calculator"
               hx-action="EditField"
               hx-route-name="@nameof(Model.ValueTwo)"
               hx-route-value="@Model.ValueTwo"
               hx-trigger="click once"
               hx-target="closest td" />
    </td>
    <td>
        <input readonly
               class="form-control"
               asp-for="ValueThree"
               hx-get
               hx-controller="Calculator"
               hx-action="EditField"
               hx-route-name="@nameof(Model.ValueThree)"
               hx-route-value="@Model.ValueThree"
               hx-trigger="click once"
               hx-target="closest td" />
    </td>
    <td>
        <input type="text" readonly class="form-control-plaintext" asp-for="StaticValueOne" />
    </td>
</tr>